@media (min-width: 1900px) {
  .container {
    width: 1700px;
  }
}
a:hover {
  text-decoration: none;
}

/*=================================== header ==========================*/
.header-top {
  background: #cfdeee;
}
.header-top .top-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}
.header-top .top-menu li {
  float: left;
}
.header-top .top-menu li a {
  text-transform: uppercase;
  font: 500 16px "Gotham Narrow";
  display: block;
  padding: 7px 50px;
  color: #1e3b6f;
  border-left: 1px solid #bfd0e2;
}
.header-top .top-menu li a:hover {
  background: #bfd0e2;
}
.header-top .top-menu li .active {
  background: #bfd0e2;
}

/*=================================== main menu ==========================*/
.main-menu {
  background: #e6f1fc;
  padding: 17px 0;
}
.main-menu .navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin: 0;
}
.main-menu .navbar-default .navbar-nav {
  margin-top: 26px;
}
.main-menu .navbar-default .navbar-nav > li > a {
  color: #1e3b6f;
  font: 500 16px "Gotham Narrow";
  text-transform: uppercase;
}
.main-menu .navbar-default .navbar-nav > li > a:hover {
  opacity: .8;
}

.main-content {
  background: #ffc52e;
  padding-top: 130px;
  padding-bottom: 100px;
}

.head-title h2 {
  margin: 0;
  font: 85px/99px "Gotham Narrow";
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #003c79;
}
