@media (min-width: 1900px) {
  .container {
    width: 1700px;
  }
}
a:hover {
  text-decoration: none;
}

.padding {
  padding: 0;
}

/*=================================== header ==========================*/
.header-top {
  background: #cfdeee;
}
.header-top .top-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}
.header-top .top-menu li {
  float: left;
}
.header-top .top-menu li a {
  text-transform: uppercase;
  font: 500 16px "Gotham Narrow";
  display: block;
  padding: 7px 50px;
  color: #1e3b6f;
  border-left: 1px solid #bfd0e2;
}
.header-top .top-menu li a:hover {
  background: #bfd0e2;
}
.header-top .top-menu li .active {
  background: #bfd0e2;
}

/*=================================== main menu ==========================*/
.main-menu {
  background: #e6f1fc;
  padding: 17px 0;
}
.main-menu .navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin: 0;
}
.main-menu .navbar-default .navbar-nav {
  margin-top: 26px;
}
.main-menu .navbar-default .navbar-nav > li > a {
  color: #1e3b6f;
  font: 500 16px "Gotham Narrow";
  text-transform: uppercase;
}
.main-menu .navbar-default .navbar-nav > li > a:hover {
  opacity: .8;
}

.main-content {
  background: #ffc52e;
  padding-top: 130px;
  padding-bottom: 100px;
}

.head-title h2 {
  margin: 0;
  font: 85px/99px "Gotham Narrow";
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #003c79;
  margin-bottom: 120px;
}

.sign-up-form {
  max-width: 722px;
  margin: 0 auto;
}
.sign-up-form .title {
  font: 700 16px "Gotham Narrow";
  color: #003d79;
  margin-bottom: 10px;
  margin-left: 20px;
}
.sign-up-form .profession-check {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sign-up-form .profession-check .check-box .check {
  padding: 16px 58px;
  background: #fff;
  border-color: transparent;
  font: 700 18px "Gotham Narrow";
  color: #003d79;
  border-radius: 50px;
  -webkit-box-shadow: 0 27px 24px rgba(0, 0, 0, 0.4);
          box-shadow: 0 27px 24px rgba(0, 0, 0, 0.4);
}
.sign-up-form .profession-check .check-box .check input {
  opacity: 0;
  position: absolute;
}
.sign-up-form .profession-check .check-box .active {
  background: #cfdeee;
}
